.topper {
    height: 25px;
  }

h4 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

.parallax{
    background-image: url("/img/header.jpg");
    max-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.parallaxSpecial{
  background-image: url("/img/header.jpg");
  max-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#header{
  position: absolute;
  z-index: 1000;
  top: 200px;
  left: 200px;
}

.text-box{
	height: 600px;
	padding: 150px;
  font-family: 'Permanent Marker', cursive;
  font-size: x-large;
  text-shadow: 5px 5px 10px black;
}

.text-boxSpecial{
	height: 600px;
	padding: 80px;
  font-family: 'Permanent Marker', cursive;
  font-size: x-large;
  text-shadow: 5px 5px 10px black;
}

.quote{
  font-style: italic;
}

#reviewtext {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.navbar {
    margin-bottom: 0 !important;
}

.teaserThumbs {
  max-width: 400px;
}

.specialImages {
  max-height: 250px;
} 

.plainLinks {
  color: black;
  font-size: 25px;
}

.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }